body, html {
    overflow: hidden;
    background-color: #eee;
    height:  100%;
    padding: 0px auto;
}

#wrapper{
    overflow: hidden;
    height: 100%;
    opacity: 1;
}

.menuBar{
    position: relative;
    width:97.5%;
    height: 9%;
    background-color: #bebebe;
    z-index: 10000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #bebebe;
}

li {
    cursor: pointer;
    width: auto;
    float: left;
    margin: 5px;
}

li a {
    display: block;
    background-color: #384E77;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #6EBFAB;
}

li a:active{
    position:relative;
    top:1px;
}

.userImages {
    overflow:auto;
}

.img-circle {
    border-radius: 100%;
    width:45px;
    height: 45px;
    cursor: pointer;
}

.imgWrap {
  position: relative;
}

.img-circle:hover{
    position:relative;
    top:1px;
}

.user {
  overflow: visible;
  width: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;

  /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}

.imgWrap:hover .user {
  visibility: visible;
  opacity: 1;
}

.mainWrapper{
    overflow: hidden;
    width:97.5%;
    margin: 3% .5% 0 .5%;
    height: 90%;
}

.editor{
    float: left;
    width: 74%;
    height: auto;
    background: white;
    overflow: hidden;
}


div {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
.timeline {
    float: right;
    width: 24%;
    height: 90%;
    min-width: 175px;
    margin-top: 10px;
    margin-right: 0;
    position: relative;
    overflow:auto;
}
.timeline .timeline-item {
    width: 100%;
    min-width: 170px;
    height: 100px;
    display: inline-block;
    margin: -2px;
}
.timeline .timeline-item .timestamp, .timeline .timeline-item .profile-pic {
    color: #eee;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.timeline .timeline-item.close .timestamp, .timeline .timeline-item.close .profile-pic {
    color: #ccc;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

.timeline .timeline-item.active .info, .timeline .timeline-item:hover .timestamp {
    color: #444;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.timeline .timeline-item.active .profile-pic, .timeline .timeline-item:hover .profile-pic {
    color: #9DB668;
}

.timeline .timeline-item .profile-pic {
    position: absolute;
    margin: 3% 10% 0 12%;
    border-radius: 50%;
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    border:1px solid #bebebe;
    cursor: pointer;
}

.timeline .timeline-item .profile-pic:hover {
    width: 51px;
    height: 51px;
}
.timeline .timeline-item .timestamp {
    color: black;
    width: 58%;
    min-width: 115px;
    padding: 24px 0 30px 8%;
    min-height: 100px;
    border-left: 4px solid #bebebe;
    font-size: 12px;
    line-height: 20px;
    position: relative;
    float: right;
    z-index: 0;
}
.timeline .timeline-item .marker {
    background-color: #fff;
    border: 4px solid #aaa;
    height: 20px;
    width: 20px;
    border-radius: 100px;
    display: block;
    float: right;
    z-index: 5000;
    margin: 7.5% 8% 0 38%;
    position: absolute;
    cursor: pointer;
}

.timeline .timeline-item .marker .dot {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    display: block;
    border: 4px solid white;
    height: 12px;
    width: 12px;
    border-radius: 100px;
    float: right;
    z-index: 5000;
}
.timeline .timeline-item .marker .last-seen {
    display: block;
    border: 4px solid white;
    height: 12px;
    width: 12px;
    border-radius: 100px;
    background-color: #91DB98;
}
.timeline .timeline-item.active .marker .dot, .timeline .timeline-item:hover .marker .dot {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    background-color: #6EBFAB;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.popup {
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1000;
}

#comment {
    visibility: hidden;
}

#commentPopup {
     width:300px;
     height: 200px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
     overflow: hidden;
}

#upload {
    visibility: hidden;
}

#uploadPopup {
     width: 300px;
     height: 200px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
     overflow: hidden;
}

.popup-box {
    position: absolute;
    border-radius: 5px;
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    font-family: Arial, sans-serif;
    z-index: 9999999;
    font-size: 14px;
}

.popup-box .close {
    position: absolute;
    top: 0px;
    right: 0px;
    font-family: Arial, Helvetica, sans-serif;  
    font-weight: bold;
    cursor: pointer;
    color: #434343;
    padding: 20px;
    font-size: 20px;
}
 
.popup-box .close:hover {
    color: #000;
}
 
.popup-box h2 {
    padding: 0;
    margin: 0;
    font-size: 18px;
}
.popup-box .top {
    padding: 20px;
}
 
.popup-box .bottom {
    background: #eee;
    border-top: 1px solid #e5e5e5;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

input[type="text"] {
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
    height: 20px;
}

a.popupButton {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

#popup-share {
    visibility: hidden;
}

.commentMode {
    cursor: text;
}
