html{
    overflow: hidden;
    height: 100%;
}
body{
    overflow-x: scroll;
    overflow-y: hidden;
    height:  100%;
    padding: 0px;
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #eee;
}

#wrapper{
    overflow: hidden;
    height: 100%;
    opacity: 1;
    min-width: 1241px;
}

.menuBar{
    position: relative;
    width:100%;
    background-color: #bebebe;
    z-index: 10000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 60px;
    overflow: hidden;
    background-color: #bebebe;
}

li {
    cursor: pointer;
    width: auto;
    float: left;
    margin: 7px 5px 7px 5px;
}

li a {
    display: block;
    background-color: #384E77;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #6EBFAB;
}

li a:active{
    position:relative;
    top:1px;
}

.logo {
	cursor: default;
	width: 50px;
	height: 50px;
}

.userImages {
    overflow:auto;
}

.imgWrap {
  position:relative;
  cursor: default;
}

.img-circle {
    border-radius: 100%;
    width:45px;
    height: 45px;
}

.user {
  vertical-align: middle;
  overflow: visible;
  width: 100%;
  top: 50%;
  position: absolute;
  text-align: center;
  background-color:rgba(0,0,0,0.5);
  color: white;
  visibility: hidden;
  border-radius: 6px;
  margin-top: -.8em;
  line-height: 1.5em;
  font-size: .8em; 
  
}

.imgWrap:hover .user {
  visibility: visible;
}

.mainWrapper{
    overflow: hidden;
    width:97.5%;
    height: 90%;
    margin-top: 9px;
}

.editor{
    float: left;
    padding-left: 15%;
    width: 74%;
    min-width: 900px;
    height: auto;
    background-color: #eee;
    overflow: hidden;
}

div {
    box-sizing: border-box;
}

.timeline-wrapper {
    cursor: pointer;
    float: right;
    width: 24%;
    height: 90%;
    min-width: 175px;
    margin: 10px 0px 0px 0px;
    position: relative;
}

.title-back{
    position: relative;
    top:-16px;
    width: 100%;
    height: 35px;
}


#timeline-title {
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgb(128,128,128);
    margin-left: 15%;
    margin-right: 15%;
    text-decoration: underline;
    padding: 5px;
    vertical-align: middle;
    outline: none;
    text-align: center;
    font-weight: bold;
}
#goBack {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    left:5%;
    vertical-align: middle;
    outline: none;
    padding: auto;
    visibility: hidden;
}
#ggback{
    width: 180px;
}

.timeline {
    width: 100%;
    height: 100%;
    overflow:auto;
    position:relative;
}

.timeline:hover .timeline-item .timestamp{
    transition:1s;
    color: #999;
}


.timeline .timeline-item {
    width: 100%;
    min-width: 170px;
    height: 100px;
    display: inline-block;
    margin: -2px;
}

.timeline .timeline-item:hover .timestamp{
    transition:1s;
    color: black;
}

.timeline .timeline-item .profile-pic {
    float: right;
    margin: 3% 10% 0 12%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border:1px solid #bebebe;
    cursor: pointer;
    vertical-align: middle;
}

.flip-container {
    position: absolute;
    perspective: 1000px;
    height: 100px;
    width: 42%;
    margin: 0px;
    padding: 0px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    color: black;
    font-size: 12px;
    line-height: 20px;
    height: 100px;
    width: 100%;
    position: absolute;
    padding:10px; 
}

/* front pane, placed above back */
.front {
    float: right;
    z-index: 2;
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    top: -10px;
    text-align: center;
    transform: rotateY(180deg);   
    word-wrap: break-word;
    vertical-align: middle;

}


.timeline .timeline-item .timestamp {
    transition:1s;
    color: black;
    width: 58%;
    min-width: 115px;
    padding: 24px 0 30px 8%;
    min-height: 100px;
    border-left: 4px solid #bebebe;
    font-size: 12px;
    line-height: 20px;
    position: relative;
    float: right;
    z-index: 0;
}

.timeline .timeline-item .marker {
    background-color: #fff;
    border: 4px solid #aaa;
    height: 20px;
    width: 20px;
    border-radius: 100px;
    display: block;
    float: right;
    z-index: 5000;
    margin: 7.5% 8% 0 38%;
    position: absolute;
    cursor: pointer;
}

.timeline .timeline-item .marker .dot {
    display: block;
    border: 4px solid white;
    height: 12px;
    width: 12px;
    border-radius: 100px;
    float: right;
    z-index: 5000;
}

#comment {
    visibility: hidden;
}

#publish {
    top: 150px;
    left: 440px;
    width: 400px;
    visibility: hidden;
}

#upload {
    top: 150px;
    left: 440px;
    width: 400px;
    visibility: hidden;
}

#share {
    top: 150px;
    left: 365px;
    width: 550px;
    visibility: hidden;
}

.popup-box {
    position: absolute;
    border-radius: 5px;
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    font-family: Arial, sans-serif;
    z-index: 9999999;
    font-size: 14px;
}

.popup-box .top {
    background-color: #384E77;
    padding: 20px;
}
 
.popup-box .bottom {
    background: #eee;
    border-top: 1px solid #e5e5e5;
    padding: 10px 20px 20px 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.popup-box .close {
    position: absolute;
    top: 0px;
    right: 0px;
    font-family: Arial, Helvetica, sans-serif;  
    font-weight: bold;
    cursor: pointer;
    color: white;
    padding: 20px;
    font-size: 20px;
}
 
.popup-box .close:hover {
    color: #bebebe;
}

.popup-box .close:active {
    position: absolute;
    top: 1px;
}
 
.popup-box h2 {
    color: white;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.popup-box h1 {
    color: black;
    font-size: 18px;
}

.popup-box h3 {
    color: black;
    font-size: 14px;
}


input[type="text"] {
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
    height: 20px;
}

#versionNote{
    width: 95%;
}

a.popupButton {
    cursor: pointer;
    display:inline-block;
    width: auto;
    padding: 3px;
    padding-bottom: 0px;
    vertical-align: middle;
    outline: none;
    width: 75px;
    height: 20px;
    background-color: #384E77;
    color: white;
    text-align: center;
    text-decoration: none;
}

a.popupButton:hover {
    background-color: #6EBFAB;
}

a.popupButton:active {
    position:relative;
    top:1px;
}

.commentMode {
    cursor: text;
}

.comment-box {
    -webkit-box-shadow: -5px 5px 5px 0px rgba(207,207,207,1);
    -moz-box-shadow: -5px 5px 5px 0px rgba(207,207,207,1);
    box-shadow: -5px 5px 5px 0px rgba(207,207,207,1);
    width:150px;
    height:115px;
    top:200px;
    left:18px;
    position:absolute;
    background-color:white;
    z-index:10000000000; /* just for you Raoul */
    cursor:pointer;
}

.comment-img {
    top:5px;
    left:5px;
    width:35px;
    height:35px;
    border-radius:100%;
    position:relative;
    float:left;
    padding-bottom: 5px;
}

.close-comment {
    color: #bebebe;
    float:right;
    padding: 7px;
    position:relative;
    font-family: Arial, Helvetica, sans-serif;  
    font-weight: bold;
    cursor: pointer;
}

.comment-input {
    width:128px;
    left:5px;
    top:7px;
    position:relative;
}

#comment-text {
    position: absolute;
    top:20%;
    left:15%;
}

.comment-box-button {
    cursor: pointer;
    width: 75px;
    height: 25px;
    float: left;
    background-color: #384E77;
    color: white;
    text-align: center;
    text-decoration: none;
    position:relative;
    bottom:-15px;
    left:35px;
    font-size:12px;
}

.comment-box-button:hover {
    background-color: #6EBFAB;
}
 
.comment-box .close-comment:hover {
    color: gray;
}

.finished-comment {
    -webkit-box-shadow: -5px 5px 5px 0px rgba(207,207,207,1);
    -moz-box-shadow: -5px 5px 5px 0px rgba(207,207,207,1);
    box-shadow: -5px 5px 5px 0px rgba(207,207,207,1);
    width:150px;
    height:45px;
    background-color:white;
}

.finished-comment-text {
    font-size:12px;
    float:left;
    top:0px;
    left:12px;
    position:relative;
}

.finished-comment-time {
    color: gray;
    font-size: 10px;
    float:left;
    top:5px;
    left:15px;
    position:relative;
}

#bounding-box {
    top:75px;
    left:0px;
    bottom:-75px;
    height:540px;
    width:150px;
    position:absolute;
}
#last{
    position: absolute;
    left: 45px;
}
#autosave{
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
    position: relative;
    float:right;
    vertical-align:bottom;
    text-align: right;
    color:black;
    font-size: 12px;
    opacity: 0;
    overflow: hidden;
    height:55px;
    width:170px;
    color: rgb(128,128,128);
}
#inner-autosave{
    position: absolute;
    bottom:3px;
    right: 3px;
}





